<?php
namespace App\Entity;

class {{.EntityName}}
{
{{range .Properties}}
    private {{.Type}} {{.Name}};
{{end}}
    public function {{.MethodName}}(): {{.TypeMethod}}
    {
        return $this->id;
    }
}