<?php
namespace App\Entity;

class {{.EntityName}}
{
{{range .Properties}}
    private {{.Type}} {{.Name}};
{{end}}
{{range .Methods}}
    public function {{.MethodName}}(): {{.TypeMethod}}
    {
        return $this->{{.Return}};
    }
{{end}}
}